body {
    background-color: #05332a;
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.lideres,
.desarrolladores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.card a {
    text-decoration: none;
    color: #000;
    border-bottom: none;
}

.card a:hover {
    color: #333;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
}

.card {
    background-color: white;
    height: 500px;
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 25px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-body {
    min-height: 150px;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 15px;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1rem;
    margin-bottom: 15px;
}
